@model CompanyWebApp.Models.Citizen

@{
    ViewData["Title"] = "Видалити";
}

<h1>Delete</h1>

<h3>Ви впевненні, що хочете видалити?</h3>
<div>
    <h4>Громадянина</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentifyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentifyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoHouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoHouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoFlat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoFlat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися назад</a>
    </form>
</div>
